.fc{
    border: 2px solid #F89939;
    border-radius: 4px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    
}

.fc-day-today {
    background-color: rgba(255, 150, 0, 0.5) !important;
    /* You can adjust other styles like text color, border, etc. */
}
/* .fc .fc-button{
  background-color: blue;
  height: 30px;
  width: 20px;
} */
.scroll-container {
  width: 100%; /* Adjust width as needed */
  height: 500px; /* Adjust height as needed */
  overflow-y: auto; /* Enable vertical scrollbar */
  overflow-x: auto; /* Hide horizontal scrollbar */
}

/* Style the scrollbar */
.scroll-container::-webkit-scrollbar {
  width: 8px; /* Adjust width of the scrollbar */
  height: 8px;
}

/* Track */
.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle */
.scroll-container::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
}

/* Handle on hover */
.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
  }  

  .container {
    width: fit-content;
    gap: 10px
  }
  
  .folder {
    width: min-content;
    margin: auto;
    animation: float 2s infinite linear;
  }
  
  .folder .top {
    background-color: #FF8F56;
    width: 60px;
    height: 12px;
    border-top-right-radius: 10px;
  }
  
  .folder .bottom {
    background-color: #FFCE63;
    width: 100px;
    height: 70px;
    box-shadow: 5px 5px 0 0 #283149;
    border-top-right-radius: 8px;
  }
  
  .container .title {
    font-size: .9em;
    color: #f1f1f1;
    text-align: center;
    margin-top: 15px;
  }
  
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
  
    50% {
      transform: translatey(-25px);
    }
  
    100% {
      transform: translatey(0px);
    }
  }
  
  