.fc{
    border: 2px solid orange;
    border-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}

.fc-day-today {
    background-color: rgba(255, 150, 0, 1) !important;
    /* You can adjust other styles like text color, border, etc. */
}



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
  }  